@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

@keyframes change-color{
    from{background-color: black;}
    to{background-color: #B1740F;}
}

/*Global*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF0CA;
    font-family: 'Open Sans', sans-serif;
}
/*Top Welcome section*/
.welcome{
    background: #191919;
    height: 8vh;
    padding: 6px 24px;
    text-align: center;
    color: #B1740F;
    margin: 0px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
}

.welcome h3{
    margin: 10px 0;
}

/*Navigation*/
nav{
    height: 10vh;
    position: sticky;
    top: 0px;
    background-color: #000000;
    color: #FAF0CA;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
    
}

.navigation{
    list-style: none;
}

.navigation a{
    display: inline-block;
    font: menu;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 22px 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    
}

.navigation a:hover{
    font-weight: bold;
    animation: change-color 1s;
    background: #B1740F;

    color: black;
}

/*Showcase*/

.showcase{
    background-image: url('../img/showcase.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.par{
    line-height: 10;
    /*position: relative;
    z-index: -1;
    top: 0px;*/
}

@media (min-width: 320px) and (max-width: 634px){
    body{
        font-size: 1em;
    }

    .welcome{
        display: none;
    }

    .navigation{
        display: flex;
        justify-content: space-evenly;
    }

    .navigation a{
        padding: 16px 2px;
        font-size: 0.5em;
    }

}