@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

@keyframes change-color{
    from{background-color: black;}
    to{background-color: #F4D35E;}
}

/*Global*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEF0EF;
    font-family: 'Open Sans', sans-serif;
}
/*Top Welcome section*/
#welcome{
    background: #191919;
    height: 48px;
    padding: 6px 24px;
    text-align: center;
    color: #F4D35E;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
}

#welcome h3{
    margin: 10px 0;
}

/*Navigation*/
nav{
    height: 70px;
    position: sticky;
    top: 0px;
    background-color: #000000;
    color: #FAF0CA;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
    
}

.navigation{
    list-style: none;
}

.navigation a{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 22px 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    
}

.navigation a:hover{
    font-weight: bold;
    animation: change-color 1s;
    background: #F4D35E;
    color: black;
}

/*Showcase*/

#showcase{
    background-image: url('../img/showcase.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showcase button{
    height: 50px;
    width: 90px;
    background: transparent;
    outline: none;
    border: 2px solid #662E0E;
    border-radius: 4px;
    cursor: pointer;
}

#showcase button a{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
    padding: 8px 10px;
    text-decoration: none;
    color: black;
}

/*Portfolio Projects section*/
.section-title{
    background: #191919;
    height: 48px;
    padding: 6px 24px;
    text-align: center;
    color: #F4D35E;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
}

.section-title h2{
    margin: 0;
}

#projects{
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 20px;
}

.project h3{
    background: #191919;
    height: 48px;
    padding: 6px 24px;
    text-align: center;
    color: #FAF0CA;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
}

.project img{
    width: 100%;   
}

/*About Me*/
#about-me{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-me h2{
    margin: 0;
}


/*Contact Details*/
.cd-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-details{
    padding: 10px;
    height: auto;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap: 10vw;
    
}

#social-network a{
    text-decoration: none;
    color: inherit;
}

@media (min-width: 426px) and (max-width: 768px){
    body{
        font-size: 0.9em;
    }

    #welcome{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #welcome h3{
        font-size: 0.8em;
        margin: 2px 0;
    }

    nav{
        height: 50px;
    }

    .navigation{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation a{
        font-size: 1.2em;
        padding: 15px 15px;
    }

    #showcase button{
        height: 40px;
        width: 80px;
    }

    #showcase button a{
        padding: 5px 5px;
    }

    .section-title{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-title h2{
        font-size: 1em;
    }

    .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project h3{
        font-size: 1.2em;
        height: auto;
    }
}


@media (min-width: 320px) and (max-width: 425px){
    body{
        font-size: 0.8em;
    }

    #welcome{
        display: none;
    }

    .navigation{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation a{
        padding: 16px 10px;
        font-size: 1em;
    }

    #showcase{
        height: 40vh;
    }

    #showcase button{
        display: none;
    }

    .section-title{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-title h2{
        font-size: 1em;
    }

    #projects{
        grid-template-columns: 1fr;
    }

    #contact-details{
        grid-template-columns:repeat(5, 1fr);
    }
}

